body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  color: #000000;
  background-color: #ffffff;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

/*главная страница декор*/
.main-header-logo:hover {
  opacity:0.8;
}
.main-header-logo:active {
  opacity:0.3;
}
a {
  text-decoration: none;
}
.main-header {
  background-color: #eeeeee;

  font-size: 16px;
  line-height: 30px;
}
.header-menu,
.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  text-transform: uppercase;
}
.header-menu a,
.user-menu a {
  color: #000000;
}
.header-menu a:hover,
.header-menu a:focus,
.user-menu a:hover,
.user-menu a:focus {
  color: #fb565a;
}
.header-menu a:active,
.user-menu a:active {
  opacity: 0.3;
  color: #000000;
}
.features-item {
  margin: 0;
  padding: 0;

  list-style: none;
}
.features-item h3 {
  margin-top:20px;
  margin-bottom: 16px;

  text-transform: uppercase;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.features-item p {
  color: #283136;

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}
.btn {
  padding: 16px 41px 16px 41px;

  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 2px;

  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.btn-web-sites,
.btn-write-us {
  background-color:#fb565a;


}
.btn-write-us {
  display: inline-block;
}
.btn-apps-sites {
  background-color:#00ca74;

}
.btn-presentation-sites {
  background-color:#efc84a;

}
.btn-web-sites:hover,
.btn-write-us:hover,
.slide_btn:hover,
.btn-web-sites:focus,
.btn-write-us:focus,
.slide_btn:focus  {
  background-color:#e74246;
}

.btn-web-sites:active,
.btn-write-us:active,
.slide_btn:active {
  color:rgba(255,255,255,0.3);
  background-color: #d7373b;
}
.btn-apps-sites:hover {
  background-color:#00bc6c;
}
.btn-apps-sites:focus {
  background-color:#00bc6c;
}
.btn-apps-sites:active {
  color:rgba(255,255,255,0.3);
  background-color: #00aa62;
}
.btn-presentation-sites:hover {
  background-color:#eab534;
}
.btn-presentation-sites:focus {
  background-color:#eab534;
}
.btn-presentation-sites:active {
  color:rgba(255,255,255,0.3);
  background-color: #e5a722;
}
.about-us-lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}
.about-us-text,
.about-us-content-list,
.footer-social-slogan p {
  color: #283136;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about-us-content-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.about-us-content {
  margin-bottom: 24px;

  text-transform: uppercase;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.about-us-right-info>p {
  text-transform: uppercase;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.content-list-right {
  color: #283136;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.footer-social-slogan b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
/*каталог стили декор*/
.shop-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.filter-price fieldset {
  margin: 0;
  padding: 0;

  border: none;
}
.filter-price .filter-group {
  margin: 0;
  padding: 0;

  list-style: none;
}
.filter-price legend {
  text-transform: uppercase;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.catalog-sorting .result-menu,
.catalog-sorting .arrow {
  margin: 0;
  padding: 0;

  list-style: none;

}
.catalog-sorting .arrow {
  display: flex;
}
.filter-price label {
  color: #283136;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.filter-input + label:hover,
.filter-input + label:focus {
  cursor: pointer;

  color: #000000;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.filter-input:disabled + label {
  cursor: not-allowed;

  opacity: 0.3;
  color: #283136;
}
.result-menu-text {
  text-transform: uppercase;

  opacity: 0.3;
  color: #000000;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.result-menu-сurrent {
  opacity: 1;
}
.result-menu-text:hover,
.result-menu-text:focus {
  opacity: 0.6;
}
.result-menu-text:active {
  opacity: 1;
}
.catalog-list{
  margin: 0;
  padding: 0;

  list-style: none;
}
.result-menu {
  display: flex;
}
/*окно описания карточки товара*/
.item_link {
  text-transform: uppercase;

  color: #000000;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.card-info {
  color: #666666;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.catalog-card-deccription {
  background-color: #eeeeee;
}
.btn-card {
  background-color:#fc565a;

}
.btn-card:hover {
  background-color: #e84045;
}
.btn-card:active {
  background-color: #d83439;
}
.pagination-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}
.pagination-list a {
  color: #000000;
  background-color: #eeeeee;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.pagination-item a:hover {
  background-color: #dfdfdf;
}
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  border-top: 2px solid #c0c0c0;
  background-color: #d5d5d5;
}
.pagination-item-current a  {
  border: 2px solid #dcdcdc;
  background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #ffffff;
}
/*---------*/
.portfolio-list {
  margin: 0;
  padding: 0;

  list-style: none;

}
.portfolio-image {
  opacity: 0.2;
}
.portfolio-image:hover,
.portfolio-image:focus
{
  opacity: 1;
}
.portfolio-image:active {
  opacity: 0.1;
}
/*------------------*/
/*сетка*/
.main-header {
  margin-bottom: 0;
  padding-top: 49px;
}
.main-navigation {
  display: flex;

  margin-bottom: 8px;
}
.header-menu {
  display: flex;

  width: 560px;
  margin-left: 176px;

  flex-wrap: wrap;
  align-items: center;
}
.header-menu a {
  display: block;

  padding: 7px 20px 0px 28px;

  vertical-align: middle;
}
.user-menu {
  display: flex;

  max-width: 160px;
  margin-left: auto;
  padding-left: 60px;

  align-self: center;
}
.user-menu li  {
  position: relative;
}
.basket::before {
  position: absolute;
  top: 6px;
  left: -41px;

  width: 15px;
  height: 15px;

  content: "";

  background-image: url("../svg-nerds/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.header-menu-сurrent {
  position: relative;
}
.header-menu-сurrent::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 28px;

  content: "";

  border-bottom: 2px solid #fb565a;
}
.slider input[type=radio] {
  position: absolute;

  opacity: 0;
}
.slider {
  position: relative;

  display: flex;

  width: 1160px;
  min-height: 430px;
  margin-bottom: 80px;
}
.slide {
  position: absolute;
  top:0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.slide-control {
  position: absolute;
  z-index: 1000;
  bottom: 113px;
  left:50%;

  display: flex;

  width: 240px;
  height: 18px;

  transform: translateX(-50%);

  justify-content: center;
}
.slide-control label {
  position: relative;

  width: 8px;
  height: 8px;
  margin-right: 10px;

  cursor: pointer;

  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color:  #ffffff;
}
.slide-control label::before {
  position: absolute;
  top: 50%;
  left: 2px;

  width:2px;
  height: 2px;

  content: " ";
  transform: translate(0, -50%);

  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color:  #ffffff;
}
.slide-control label::before {
  display: none;
}
.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 431px 1px;

}
.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 495px 0;
}
.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 398px 7px;
}
.slide {
  display: none;
}
#btn-1:checked ~.slide-control label[for="btn-1"],
#btn-2:checked ~.slide-control label[for="btn-2"],
#btn-3:checked ~.slide-control label[for="btn-3"] {
  background-color: #c1c1c1;

}
#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-1:checked ~ .slide-control label:nth-child(1)::before {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2),
#btn-2:checked ~ .slide-control label:nth-child(2)::before {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3),
#btn-3:checked ~ .slide-control label:nth-child(3)::before {
  display: block;
}
.slide_slogan {
  margin-bottom: 28px;

  text-transform: none;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.slide-content-text {
  width: 515px;
}
.slide_text {
  margin-bottom: 48px;

  text-transform: none;

  color: #283136;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.slide_btn {
  padding-right: 57px;
  padding-left: 53px;

  background-color: #fb565a;
}
.slide-img {
  width: 698;
  height: 413px;
  padding-left: 30px;
}

.features-item {
  display: flex;
}
.features-item li {
  width: 300px;
}
.features-item-left p,
.features-item-center p,
.features-item-right p {
  margin-bottom: 44px;
}
.features {
  margin-bottom: 42px;
  padding-bottom: 95px;

  border-bottom: 2px solid #eeeeee;
}
.features-item-center,
.features-item-right {
  margin-left: 100px;

}
.about-us-info {
  display: flex;

  margin-bottom: 44px;
  padding-bottom: 48px;

  border-bottom: 2px solid #eeeeee;

  justify-content: space-between;
}
.about-us-right-info {
  width: 360px;
}
.about-us-left-info {
  width: 700px;
  margin-top: 16px;
}

.about-us-text {
  margin-top: 32px;
  margin-bottom: 40px;
}
.about-us-content-list li {
  margin-bottom: 25px;
}
.about-us-content-list {
  padding-left: 37px;
}
.about-us-content-list li {
  position: relative;
}
.about-us-content-list li::before {
  position: absolute;
  top: 10px;
  left: -37px;

  display: block;

  width: 25px;
  height: 2px;

  content: "";

  background-color: #fb565a;
}
.content-list-right {
  margin-top: 37px;
}
.content-list-right td {
  padding-bottom: 35px;
}
.number-percentages span {
  vertical-align: super;

  font-size: 22px;
}
.facts {
  color: #283136;

  font-size: 16px;
  font-weight: 400;
}
.number-percentages {
  color: #000000;

  font-size: 45px;
  font-weight: bold;
}
.portfolio {
  margin-bottom: 82px;

  border-bottom: 2px solid #eeeeee;
}
.portfolio-list {
  display: flex;

  margin-bottom: 33px;

  align-items: center;
}
.portfolio-list li:first-child {
  padding-right: 96px;
  padding-left: 31px;
}
.portfolio-list li:nth-child(2) {
  padding-right: 103px;
}
.portfolio-list li:nth-child(3) {
  padding-right: 121px;
}

/*.portfolio-list li::after {
position: absolute;
content: "";
height: 52px;
width: 2px;
border-right: 2px solid red;
}*/
/*.border {
border-right: 2px solid red;

}*/
/*.portfolio-image {
position: relative;
}
.portfolio-image p::before{
position: absolute;
content: "";
height: 52px;
width: 2px;
border-right: 2px solid red;
}*/

/*карта*/
.map {
  min-height: 416px;
  margin-bottom: 60px;

  background-color:  #e9e5dc;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /*width: 100%;*/
  background-size: 100%;
}
.main-footer {
  position: relative;
}
.footer-contact {
  position: absolute;
  z-index: 100;
  top: 87px;

  width: 210px;
  min-height: 158px;
  padding: 20px 30px;

  content: "";

  background: #ffffff;

  line-height: 20px;
}
/*социалные сети*/
.footer-social {
  display: flex;

  align-items: center;
}
.footer-social-content {
  width: 260px;
}
.footer-social-content {
  display: flex;

  min-width: 260px;
  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.social-btn {
  display: flex;

  width: 78px;
  height: 78px;

  border-radius: 50%;
  background-color: #e1e1e1;

  justify-content: center;
  align-items: center;
}

.footer-social-slogan {
  width: 940px;
  margin-right: auto;
  margin-left: 155px;
}
.footer-social-slogan p {
  margin-bottom: 8px;
}
.slogan-friend {
  margin-top: 8px;
}
/*модалбное окно*/

.modal-write-us {
  position: absolute;
  top: 0;
  top: 50%;
  left: 50%;

  display: none;

  width: 960px;
  margin-top: -38px;
  margin-left: -315px;
  padding: 50px 80px;
  /*font-size: 0;*/

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}
.user-info {
  display: flex;
}
.user-info input {
  width: 360px;

  opacity: 0.5;
  color: #444444;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.modal-write-us textarea {
  width: 760px;

  resize:none;

  opacity: 0.5;
  color: #444444;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  outline: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.user-info input:hover,
.modal-write-us textarea:hover {
  border: 2px solid #b4b9bb;
}
.user-info input:focus,
.modal-write-us textarea:focus {
  opacity: 1;
  border: 2px solid #000000;
}
.btn-send {
  background-color: #fb565a;
}
.btn-send:hover,
.btn-send:focus {
  opacity: 1;
  background-color: #e74246;
}
.btn-send:active {
  color:rgba(255,255,255,0.3);
  background-color: #d7373b;
}
/*станица каталога*/
.welcome-block {
  padding-top: 22px;
  padding-bottom: 72px;

  text-align: center;
}
.catalog {
  display: flex;
  flex-direction: column;

  width: 760px;
}
.inner-header {
  margin-bottom: 56px;
}
.catalog-column {
  display: flex;

  justify-content: space-between;
}
.filters {
  display: flex;
  flex-direction: column;

  width: 320px;
}
.filter-range {
  width: 240px;
}
.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 5px;
  background: #efefef;
}
.range-controls .bar {
  width: 152px;
  height: 2px;

  background-color: #00cb75;
}
.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 152px;
}
.price-controls label {
  display: inline-block;

  width: 50%;

  font-size: 16px;
}
.price-controls {
  font-size: 0;
}
.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  text-align: center;

  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: #efefef;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
}
.max-price {
  text-align: right;
}
.filter-price .filter-group {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.filter-group input[type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  content: "";

  opacity: 0.4;
  background-image: url("../svg-nerds/radio-off.svg");
}
.filter-group input[type="radio"]:checked + label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  content: "";

  background-image: url("../svg-nerds/radio-on.svg");
}
.filter-group input[type="radio"]:focus + label::before,
.filter-group input[type="radio"]:hover + label::before {
  opacity: 1;
}
.filter-group input[type="radio"]:focus + label::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.catalog-sorting b {
  text-transform: uppercase;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.catalog-sorting .result-menu {
  width: 300px;
  padding-left: 265px;

  flex-wrap: wrap;
  flex-grow: 1;
}

.catalog-sorting .arrow {
  width: 30px;
}
.result-menu li {
  margin-right: 26px;
}
.result-menu li:last-child {
  margin-right: 0;
}

.catalog-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-card {
  position: relative;

  width: 360px;
  min-height: 576px;
  margin-bottom: 72px;
}
.catalog-sorting {
  display: flex;

  margin-bottom: 95px;
}
.catalog-card img {
  display: block;
}
.catalog-card:hover {
  border-style: none;
  box-shadow: 0 0 5px 3px #e9e9e9;

}
.catalog-card::before {
  position: absolute;
  top: -39px;

  width: 360px;
  height: 40px;

  content: url(../svg-nerds/browser.svg);

  opacity: 0.12;
}
.catalog-card:hover:before {
  opacity: 1;
}
.catalog-card-deccription {
  position: absolute;
  bottom: 0;

  display: none;

  width: 360px;
  height: 231px;

  text-align: center;
}
.btn-card-price {
  background-color: #fb565a;
}
.btn-card-price:hover,
.btn-card-price:focus {
  cursor: pointer;

  background-color: #e74246;
}
.btn-card-price:active {
  cursor: pointer;

  background-color: #d7373b;
}
.catalog-card:hover .catalog-card-deccription {
  display: block;
}
